.new {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 0 auto;
  text-align: center;
  @media screen and (min-width: 600px) {
    text-align: left;
  }
  &__name {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: $regular;
    text-transform: none;
    letter-spacing: 1.4px;
    display: block;
    flex: 1 0 auto;
    span {
      color: $color-blue;
    }
  }
  &__name-link {
    color: $color-dark;
    display: block;
    &:hover,
    &:active {
      color: $color-blue;
      text-decoration: none;
    }
  }
  &__date {
    flex: 0 0 auto;
    margin-top: 13px;
  }
  &__date-number {
    color: #6C6C6C;
    position: relative;
    padding-left: 23px;
    display: table;
    margin: 0 auto;
    @media screen and (min-width: 600px) {
      margin: 0;
    }
  }
  &__icon-date {
    display: block;
    line-height: 14px;
    position: absolute;
    left: 0;
    top: 5px;
  }
}