.section-heading {
  margin: 0 auto 63px;
  &__name {
    font: $regular 27px / 31px 'Posterizer KG Sketch', sans-serif;
    text-transform: uppercase;
    color: $color-dark;
    text-align: center;
    letter-spacing: 1.4px;
    word-wrap: break-word;
    @media screen and (min-width: 480px) {
      letter-spacing: 3px;
      font-size: 30px;
      line-height: 34px;
    }
  }
}