.section-heading {
  margin: 0 auto 63px;
  &__name {
    font: $regular 30px / 34px 'Posterizer KG Sketch', sans-serif;
    text-transform: uppercase;
    color: $color-dark;
    text-align: center;
    letter-spacing: 3px;
  }
}