$font: 'Open Sans', sans-serif;

$regular: 400;
$bold: 700;
$extrabold: 800;

$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #212121;
$color-gray: #E6E6E6;
$color-blue: #01BCD4;
$color-light-blue: #07BEEA;
$color-green: #B9D433;
$color-orange: #F59A00;
$color-red: #FD0101;
$color-brown: #303030;