.accounting-banner {
  &__cover {
    padding-top: 87px;
    padding-bottom: 30px;
    @media screen and (min-width: 990px) {
      padding-top: 106px;
      padding-bottom: 80px;
    }
  }
  &__img {
    display: block;
    position: relative;
    margin: 0 auto 50px;
    @media screen and (min-width: 990px) {
      float: left;
      max-width: none;
      margin: -25px 0 0 -300px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: -250px;
    }
  }
  &__text {
    overflow: hidden;
    margin-bottom: 50px;
    max-height: 240px;
    @media screen and (min-width: 990px) {
      margin-left: 470px;
      max-height: 385px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 600px;
    }
  }
}