.footer {
  background: $color-brown;
  .wrapper_light-theme & {
    background: #D3D3D3;
  }
  &__cover {
    padding-top: 50px;
    padding-bottom: 90px;
    @media screen and (min-width: 990px) {
      padding-top: 84px;
      padding-bottom: 70px;
    }
  }
  &__content {
    position: relative;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-bottom: 70px;
    @media screen and (min-width: 990px) {
      margin-right: -50px;
      flex-wrap: nowrap;
      padding-bottom: 0;
    }
  }
  &__side-bar {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    @media screen and (min-width: 990px) {
      padding-right: 50px;
      width: 18%;
    }
    @media screen and (min-width: 1200px) {
      width: 24%;
    }
  }
  &__side-bar-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 990px) {
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      width: 155px;
    }
  }
  &__top-content {
    flex: 1 0 auto;
  }
  &__bottom-content {
    flex: 0 0 auto;
  }
  &__logo {
    display: block;
    margin: 0 auto 17px;
    width: 126px;
    @media screen and (min-width: 990px) {
      margin: 0 0 45px;
      width: auto;
    }
  }
  &__logo-link {
    text-decoration: none;
  }
  &__contacts {
    margin: 0 0 17px;
  }
  &__contact {
    font-size: 10px;
    line-height: 18px;
    font-weight: $extrabold;
    letter-spacing: 0;
  }
  &__contact-link {
    color: #6C6C6C;
    cursor: text;
    .wrapper_light-theme & {
      color: #313131;
    }
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  &__address,
  &__data,
  &__copyright {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0;
    color: #6C6C6C;
    margin: 0 0 17px;
    .wrapper_light-theme & {
      color: #313131;
    }
  }
  &__navs {
    display: flex;
    width: 100%;
    @media screen and (min-width: 990px) {
      width: 82%;
    }
    @media screen and (min-width: 1200px) {
      width: (100% - 24%);
    }
  }
  &__nav-block {
    flex: 0 0 auto;
    padding-right: 50px;
    display: none;
    @media screen and (min-width: 990px) {
      display: block;
    }
    &_1 {
      width: 22%;
    }
    &_2 {
      width: 22%;
    }
    &_3 {
      width: 39%;
    }
    &_4 {
      width: 39%;
    }
    &_5 {
      width: 22%;
    }
  }
  &__nav-name {
    margin: 0 0 17px;
    font-size: 12px;
    line-height: 15px;
    font-weight: $extrabold;
    color: #6C6C6C;
    letter-spacing: 0;
    min-height: 30px;
    .wrapper_light-theme & {
      color: #313131;
    }
  }
  &__nav-name-link {
    display: block;
    color: #6C6C6C;
    .wrapper_light-theme & {
      color: #313131;
    }
    &:hover,
    &:active {
      color: #D3D3D3;
      text-decoration: none;
      .wrapper_light-theme & {
        color: #6C6C6C;
      }
    }
  }
  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0 0 17px;
  }
  &__nav-item {
    margin-top: 12px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    &:first-child {
      margin-top: 0;
    }
  }
  &__nav-link {
    color: #6C6C6C;
    display: block;
    .wrapper_light-theme & {
      color: #313131;
    }
    &:hover,
    &:active {
      color: #D3D3D3;
      text-decoration: none;
      .wrapper_light-theme & {
        color: #6C6C6C;
      }
    }
  }
  &__sub-navs {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 990px) {
      width: 56%;
    }
  }
  &__sub-navs &__top-content {
    display: flex;
  }
  &__sub-navs &__bottom-content {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 990px) {
      justify-content: flex-end;
    }
  }
  &__socials {
    list-style: none;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    @media screen and (min-width: 990px) {
      margin: 0 -18px;
    }
  }
  &__socials-item {
    padding: 0 10px 17px;
    @media screen and (min-width: 990px) {
      padding: 0 18px 17px;
    }
  }
  &__socials-link {
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  &__socials-icon {
    @include transition;
    fill: #6B6C6C;
    .wrapper_light-theme & {
      fill: #313131;
    }
  }
  &__socials-link:hover &__socials-icon,
  &__socials-link:active &__socials-icon {
    fill: #D3D3D3;
    .wrapper_light-theme & {
      fill: $color-white;
    }
  }
  &__sub-block {
    @media screen and (min-width: 990px) {
      width: 270px;
      margin-right: 50px;
    }
  }
  &__search {
    margin-bottom: 17px;
    display: none;
    @media screen and (min-width: 990px) {
      display: block;
    }
  }
  &__search-input {
    &::-webkit-input-placeholder {
      color: rgba(108, 108, 108, 0.5);
      opacity: 1;
    }
    &::-moz-placeholder {
      color: rgba(108, 108, 108, 0.5);
      opacity: 1;
    }
    &:-moz-placeholder {
      color: rgba(108, 108, 108, 0.5);
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: rgba(108, 108, 108, 0.5);
      opacity: 1;
    }
  }
  &__button-up {
    line-height: 40px;
    font-size: 40px;
    cursor: pointer;
    color: #D3D3D3;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .wrapper_light-theme & {
      color: $color-white;
    }
    @media screen and (min-width: 990px) {
      margin-bottom: 17px;
      position: relative;
      left: 0;
      transform: none;
    }
  }
}