.functions {
  background: $color-gray;
  overflow: hidden;
  &__cover {
    padding-bottom: 39px;
    @media screen and (min-width: 990px) {
      padding-bottom: 57px;
    }
  }
  &__section-heading {
    max-width: 355px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 -11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 990px) {
      justify-content: flex-start;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 11px 40px;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
      width: (100% / 2);
    }
    @media screen and (min-width: 600px) {
      width: (100% / 3);
    }
    @media screen and (min-width: 768px) {
      width: (100% / 4);
    }
    @media screen and (min-width: 990px) {
      flex-wrap: nowrap;
      padding-bottom: 22px;
    }
  }
  &__item-icon-block {
    width: 28px;
    flex: 0 0 auto;
    margin: 0 auto 15px;
    @media screen and (min-width: 990px) {
      margin: 0 13px 0 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 40px;
    }
  }
  &__item-icon {
    max-width: 28px;
    margin: 0 auto;
  }
  &__item-name {
    flex: 0 0 auto;
    width: 100%;
    font-weight: $extrabold;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 990px) {
      flex: 1 1 auto;
      width: auto;
      text-align: left;
    }
  }
}