.services-price {
  padding-bottom: 85px;
  @media screen and (min-width: 990px) {
    padding-bottom: 55px;
  }
  &__section-heading {
    max-width: 460px;
  }
  &__content {
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0 -15px;
    position: relative;
    padding-bottom: 5px;
    @media screen and (min-width: 990px) {
      margin: 0;
      padding-bottom: 0;
      overflow-y: visible;
      overflow-x: visible;
    }
  }
  &__table-block {
    &_desktop {
      display: none;
      @media screen and (min-width: 990px) {
        display: block;
      }
    }
    &_mobile {
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
  }
  &__data {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 19px;
  }
  &__data-string {
    display: table-row;
    &_heading {
      text-transform: uppercase;
      font-weight: $extrabold;
      color: $color-dark;
      font-size: 14px;
      line-height: 19px;
    }
  }
  &__data-column {
    display: table-cell;
    vertical-align: top;
    padding-right: 30px;
    padding-bottom: 28px;
    &:last-child {
      padding-right: 0;
    }
    &_number {
      width: 96px;
    }
    &_description {
      width: 250px;
      @media screen and (min-width: 1200px) {
        width: 300px;
      }
    }
    &_price {
      width: 170px;
    }
  }
  &__data-string &__data-column {
    padding-bottom: 32px;
  }
  &__data-mobile-column {
    display: flex;
  }
  &__data-mobile-item {
    width: (100% / 2);
    flex: 0 0 auto;
    padding: 15px;
    letter-spacing: 0;
    line-height: normal;
    word-wrap: break-word;
    @media screen and (min-width: 480px) {
      width: (100% / 3);
    }
    @media screen and (min-width: 768px) {
      width: 25%;
    }
    &:first-child {
      text-transform: uppercase;
      font-weight: $extrabold;
      border-right: 2px solid $color-orange;
      background: none!important;
      font-size: 12px;
      line-height: normal;
    }
    &:nth-child(even) {
      background: $color-gray;
    }
  }
}