.zero-balance {
  padding-bottom: 50px;
  &__img {
    margin: 0 auto 25px;
    position: relative;
    @media screen and (min-width: 990px) {
      float: right;
      margin: -33px -100px 0 0;
      max-width: none;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 20px;
    }
  }
  &__text {
    @media screen and (min-width: 990px) {
      margin-right: 470px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 600px;
    }
  }
}